/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - emoji */

@import "~/.config/rofi/config.rasi" 

/* ---- Entry ---- */
entry {
  font: "arial";
  width: 100%;
  placeholder: "🦭 Search Emojis";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}