/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	font: "new york 12";
}

element-text {
    font:	"new york 8";
}